header.header{
    background-color: #4f4d53;
    height: 48px;
}

/* Hero */
section.hero{
    background-image: url("assets/img/img_hero.jpg");
    color: #fff;
    height: 65vh;
    background-position: right;
    background-size: cover;
}

/* About Us */
section.about-us{
    margin: 0;
    text-align: center;
}
section.about-us .about-us-teams-member{
      display: flex;
    justify-content: space-around;
    margin-top: -100px;
}
section.about-us .about-us-heading{
    color: #e8be02;
    font-size: 64px;
    font-weight: 900;
}
section.about-us .about-us-description{
    color: #4f4d53;
    font-size: 20px;
    line-height: 1.5;
}

section.about-us .about-us-team-members-info{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}

/* Footer */
footer.footer{
    background-color: #4f4d53;
    border-top: 12px solid #e8be02;
    height: 320px
}
footer.footer .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 50px;
    color: #fff;
}